#view-width{
    width: 35vw;
}

::placeholder{
    text-align: center;
}

@media only screen and (max-width: 1000px){
    #view-width{
        width: 60vw;
    }
}

@media only screen and (max-width: 768px){
    #view-width{
        width: 90vw;
    }
}
